{% extends 'index.html.twig' %}

{% block content %}
    <h1>Error 500 - Er ging iets mis probeer later opnieuw.</h1>
    <br />
    <a href="home">Klik hier om terug te gaan naar de home pagina.</a>
{% endblock %}